<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles2.css" rel="stylesheet" />
    </head>
    <body id="page-top">
       
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">HomeBanking App</h1>
                <p class="lead">Nuestro Equipo</p>
                <p class="lead">Formamos un equipo de desarrolladores altamente capacitados, en donde se respira un aíre de compañerismo y ganas de progresar. Promovemos el trabajo en equipo y la ayuda mutua, en nuestra empresa siempra estaras trabajando de manera colaborativa con compañeros/as que quieren mejorar cada segundo, cada minuto, cada hora, todos los días. </p>
                
            </div>
        </header>
            <div class="text-center"></div>
                    <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="img-fluid" width="100%" >
                     </div>
                  
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Nuestra Filosofia</h2>
                        <p class="lead">Sabemos que los tiempos digitales corren a la velocidad de la luz. Nuestra vida misma ha cambiado radicalmente en estos últimos años. Pensamos de que hay que acompañar a este cambio, aportando nuestro granito de arena, para que las personas pierdan el menor tiempo posible, en hacer sus operaciones básicas. Nuestra filosofía se basa, en acercar a las personas los medios necesarios para satisfacer sus necesidades económicas de una manera sencilla y divertida. Somos un banco en una aplicación y es lo que queremos ofrecerte. </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <div class="text-center"></div>
                                <img src="https://images.unsplash.com/photo-1558403194-611308249627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" class="img-fluid" width="100%" >
                                </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; HomeBanking App 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts2.js"></script>
    </body>
</html>
