<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page HTML | AlexCG Design</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <header class="hero">
        <div class="textos-hero">
            <h1>HomeBanking app</h1>
            <p>Queremos acompañarte en cada transacción</p>
            <a href="usuarios/iniciarsesion">Ingresar</a>
        </div>
        <div class="svg-hero" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>


    <section class="wave-contenedor website">
        <img src="img1/ilustracion1.svg" alt="">
        <div class="contenedor-textos-main">
            
            <p class="parrafo">Somos un equipo apasionado por la innovación, el diseño y la tecnología.</p>
            <a href="" class="cta">Learn more</a>
        </div>
    </section>

    <section class="info">
        <div class="contenedor">
            <h2 class="titulo left">Nuestra Filosofía</h2>
            <p>Diseñamos y desarrollamos nuestros productos partiendo de las necesidades actuales y de las que imaginamos que nuestros usuarios tendrán en el futuro.</p>
            <p>Queremos generar relaciones de largo plazo y sustentables con nuestros usuarios y entre los miembros de nuestro equipo. No comprometemos nuestra relación a cambio de beneficios de corto plazo.</p>
        </div>
    </section>

    <section class="cards contenedor">
        <h2 class="titulo">Nuestros Servicios</h2>
        <div class="content-cards">
            <article class="card">
                <i class="fas fa-wallet"></i>
                <h3>Carga tu billetera</h3>
                <p>Simplemente elegi la cantidad y podras comenzar a operar.</p>
                <a href="" class="cta">Learn more</a>
            </article>
            <article class="card">
                <i class="fas fa-random"></i>
                <h3>Transferí tu dinero</h3>
                <p>Selecciona el alias del usuario al que quieres transferir</p>
                <a href="" class="cta">Learn more</a>
            </article>
            <article class="card">
                <i class="fas fa-check-square"></i>
                <h3>Tu operacion lista</h3>
                <p>Así de simple es, utiliazndo HomeBanking app.</p>
                <a href="" class="cta">Learn more</a>
            </article>
        </div>
    </section>


    <section class="info-last">

        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Title of section</h2>
                <p class="parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum reprehenderit nostrum expedita quasi odio architecto laudantium sunt nemo dicta atque?</p>
                <a href="" class="cta">Learn more</a>
            </div>
            <img src="img1/ilustracion.svg" alt="">
        </div>
        
        <div class="svg-wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #f5576c;"></path>
        </svg></div>
    </section>

    <footer id="contacto">
        <div class="contenedor">
            <h5>Contacto</h5>
        <i class="fab fa-linkedin"></i> <span><a href="https://www.linkedin.com/in/santiago-albarracin-49ab2a1b4/">Linkedin</a></span>
        <br>
        <i class="fab fa-whatsapp-square"></i><span><a href="https://api.whatsapp.com/send?phone=5493815470882">+5493815470882</a></span>   
        <br>
        <i class="fas fa-envelope"></i><span><a href="mailto:albarracinsantiago24@gmail.com">Gmail</a></span>      
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
</body>

</html>