    <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/masonry/">
    <link rel="stylesheet" href="css/mampostery.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
    <div class="typewriter-effect">
  <div class="text" id="typewriter-text"></div>
</div>

 <div class="typewriter2-effect">
  <div class="text2" id="typewriter-text2"></div>
</div>
<div class="container3">
      <div class="row">
          <div class="col-12">
            <div class="card-columns">
            <div class="card-container">
            <div class="card">
              <img src="img/image10.jpg" alt="">
            </div>
            </div>
            

            <div class="card-container">
            <div class="card">
              <img src="img/image2.jpg" alt="">
            </div>
            </div>

            <div class="card-container">
            <div class="card">
              <img src="img/image3.jpg" alt="">
            </div>
            </div>

            <div class="card-container">
            <div class="card">
              <img src="img/image11.jpg" alt="">
            </div>
            </div>

            <div class="card-container">
            <div class="card">
              <img src="img/image5.jpg" alt="">
            </div>
            </div>

            <div class="card-container">
            <div class="card">
              <img src="img/image6.jpg" alt="">
            </div>
            </div>

            <div class="card-container">
            <div class="card">
              <img src="img/image7.jpg" alt="">
            </div>
            </div>

            <div class="card-container">
            <div class="card">
              <img src="img/image8.jpg" alt="">
            </div>
            </div>
            <div class="card-container">
            <div class="card">
              <img src="img/image9.jpg" alt="">
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>


    </div>
    

    <script src="/js/mampostery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>



