<div class="jumbotron mt-4">
    <h1 class="display-4">HomeBanking App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut iste vero voluptates dolores nobis beatae!</p>
    <hr class="my-4"> 
    <img src="/img/index2.jpg" class="img-fluid">
    <a href="/usuarios/registro" class="btn btn-primary">Iniciar</a>
    </div>


