body {
    background: rgb(49,49,150);
    background: linear-gradient(90deg, rgba(49,49,150,1) 0%, rgba(73,3,252,1) 38%, rgba(98,0,255,1) 90%);
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.0rem;
    color: black;
}


.logo {
    width: 40%;
}

.fas {
    font-size: 40px;
}

